pkgbase = fastgithub-bin
	pkgdesc = Speedup github access in China
	pkgver = 2.1.5
	pkgrel = 1
	url = https://github.com/WangGithubUser/FastGitHub
	install = fastgithub-bin.install
	arch = x86_64
	license = MIT
	provides = fastgithub
	options = !strip
	source = fastgithub.service
	sha256sums = 9ad921e57c3aa2c0b87154c52922b19816bc8455cece2921ee8eb340a752bbe7
	source_x86_64 = https://gh-proxy.com/https://github.com/WangGithubUser/FastGitHub/releases/download/2.1.5/fastgithub_win-x64.zip
	sha256sums_x86_64 = 2cdf82209d695788529dcd98ca59e0905d8be5305f4437a8181cb3f4bb736442

pkgname = fastgithub-bin
