pkgbase = fastgithub-bin
	pkgdesc = Speedup github access in China
	pkgver = 2.1.4
	pkgrel = 3
	url = https://github.com/dotnetcore/FastGithub
	install = fastgithub-bin.install
	arch = x86_64
	license = MIT
	depends = mono
	provides = fastgithub
	options = !strip
	source = https://ghproxy.com/https://github.com/dotnetcore/FastGithub/releases/download/2.1.4/fastgithub_win-x64.zip
	sha256sums = b439afc7b730766aed894876696e9aeb411e3b45f60ebdcfdff247890742c0f6

pkgname = fastgithub-bin
