[Unit]
Description="Speedup github access in China"
After=network.target network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/fastgithub start
ExecStop=/usr/bin/fastgithub stop

[Install]
WantedBy=multi-user.target
